* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f3fbf594;

}

.userDetail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    min-width: 19rem;
    box-shadow: 3px 3px 10px #808080;
    padding: 15px 30px;
}

.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

img {
    width: 100px;
    height: 100px;
}

#username {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

button {
    margin-top: 13px;
    width: 10rem;
    font-size: 16.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: #1A73E8;
    color: #fff;
    cursor: pointer;
}