* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-register-form {
    /* position: absolute; */
}

.register-container {
    display: block;
}

.login-container {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}